<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="construct_robot_0528">
    <xacro:arg name="right_robot_ip" default="192.168.1.10" />
    <xacro:arg name="left_robot_ip" default="192.168.1.11" />
    <xacro:arg name="cb_simulation" default="false" />
    <xacro:arg name="use_fake_left_hardware" default="false" />
    <xacro:arg name="use_fake_right_hardware" default="false" />
    <xacro:arg name="use_fake_head_hardware" default="false" />
    <xacro:arg name="fake_sensor_commands" default="false" />

    <!-- Import construct_robot_0528 urdf file -->
    <xacro:include filename="$(find construct_description)/urdf_0528/construct_robot_0528.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="$(find construct_description)/urdf_0528/construct_robot_0528.ros2_control.xacro" />

    <xacro:construct_robot_0528_ros2_control
        left_robot_ip="$(arg left_robot_ip)"
        right_robot_ip="$(arg right_robot_ip)"
        cb_simulation="$(arg cb_simulation)"
        use_fake_left_hardware="$(arg use_fake_left_hardware)"
        use_fake_right_hardware="$(arg use_fake_right_hardware)"
        use_fake_head_hardware="$(arg use_fake_head_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)" />

</robot>
