<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="construct_robot_0528">
  <link name="World" />
  <joint
    name="fixed_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="World" />
    <child
      link="base_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.50177279867325E-06 -0.0486243729911788 0.271749352170472"
        rpy="0 0 0" />
      <mass
        value="101.064169290272" />
      <inertia
        ixx="3.84471910976182"
        ixy="-1.96603504895316E-06"
        ixz="-4.96697058867377E-06"
        iyy="12.7657101867472"
        iyz="0.0183178842430371"
        izz="16.5037614321531" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/base_link_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/base_link_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <link
    name="robot_base_link">
    <inertial>
      <origin
        xyz="-4.82972770976531E-06 -0.00264656671262931 0.630069164182882"
        rpy="0 0 0" />
      <mass
        value="9.62679966839745" />
      <inertia
        ixx="0.313388911240642"
        ixy="-5.92796209531898E-08"
        ixz="-2.49618789223468E-07"
        iyy="0.523961178342772"
        iyz="1.96032155522254E-05"
        izz="0.270037755370955" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/robot_base_link_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/robot_base_link_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="robot_base_joint"
    type="fixed">
    <origin
      xyz="0 -0.5 0.33"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="robot_base_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_manipulator_base_link">
    <inertial>
      <origin
        xyz="2.47382312095618E-05 0.00352448223506857 0.0520878179463256"
        rpy="0 0 0" />
      <mass
        value="2.94161250691283" />
      <inertia
        ixx="0.0106200517003664"
        ixy="-1.89261730148865E-05"
        ixz="3.06865809529576E-06"
        iyy="0.00992340232610754"
        iyz="0.000162263314541543"
        izz="0.0150373114291645" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_base_link_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_base_link_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_manipulator_base_joint"
    type="fixed">
    <origin
      xyz="-0.25 0 1.0002"
      rpy="0 0 3.1416" />
    <parent
      link="robot_base_link" />
    <child
      link="left_manipulator_base_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_manipulator_link1">
    <inertial>
      <origin
        xyz="-7.82409892144398E-06 -0.0181689701636886 0.14860081086915"
        rpy="0 0 0" />
      <mass
        value="2.57873101336861" />
      <inertia
        ixx="0.0083586740750569"
        ixy="2.29931705651022E-06"
        ixz="2.12674445262705E-06"
        iyy="0.00850904084065618"
        iyz="-0.00228223234669651"
        izz="0.00869869730406677" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_link1_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_link1_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_manipulator_joint1"
    type="revolute">
    <origin
      xyz="0 0 0.1073"
      rpy="0 0 0" />
    <parent
      link="left_manipulator_base_link" />
    <child
      link="left_manipulator_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.283"
      upper="6.283"
      effort="400"
      velocity="2.094" />
  </joint>
  <link
    name="left_manipulator_link2">
    <inertial>
      <origin
        xyz="-1.28265053202237E-06 0.464813426587113 0.133590251404909"
        rpy="0 0 0" />
      <mass
        value="18.6675270362353" />
      <inertia
        ixx="0.486061951013357"
        ixy="2.31528993157915E-06"
        ixz="2.13850475297004E-06"
        iyy="0.0563638160914465"
        iyz="1.47266624393945E-05"
        izz="0.48676195036387" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_link2_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_link2_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_manipulator_joint2"
    type="revolute">
    <origin
      xyz="0 0.12 0.134"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="left_manipulator_link1" />
    <child
      link="left_manipulator_link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-6.283"
      upper="6.283"
      effort="400"
      velocity="2.094" />
  </joint>
  <link
    name="left_manipulator_link3">
    <inertial>
      <origin
        xyz="1.07328086652869E-06 0.0128746593563673 -0.0787137941128505"
        rpy="0 0 0" />
      <mass
        value="3.51858424407504" />
      <inertia
        ixx="0.00986845981905237"
        ixy="1.19292529619721E-08"
        ixz="1.61720587631227E-08"
        iyy="0.0102207475608464"
        iyz="0.0022969582216192"
        izz="0.0101224880827007" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_link3_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_link3_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_manipulator_joint3"
    type="revolute">
    <origin
      xyz="0 0.885 0.0365"
      rpy="0 0 0" />
    <parent
      link="left_manipulator_link2" />
    <child
      link="left_manipulator_link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.618"
      upper="2.618"
      effort="300"
      velocity="2.094" />
  </joint>
  <link
    name="left_manipulator_link4">
    <inertial>
      <origin
        xyz="-4.72698405104555E-06 0.0698846891131144 0.347470625119866"
        rpy="0 0 0" />
      <mass
        value="10.1068776913449" />
      <inertia
        ixx="0.385424405879349"
        ixy="1.99014578608369E-07"
        ixz="1.10245972702519E-06"
        iyy="0.358902617182911"
        iyz="-0.0890475687244486"
        izz="0.0471921249012298" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_link4_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_link4_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_manipulator_joint4"
    type="revolute">
    <origin
      xyz="0 0.0975 -0.09"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="left_manipulator_link3" />
    <child
      link="left_manipulator_link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.283"
      upper="6.283"
      effort="120"
      velocity="3.141" />
  </joint>
  <link
    name="left_manipulator_link5">
    <inertial>
      <origin
        xyz="3.33949444618342E-06 0.00696629145827199 0.0549279144808109"
        rpy="0 0 0" />
      <mass
        value="1.13314280303703" />
      <inertia
        ixx="0.0013270763712727"
        ixy="3.10737396485923E-08"
        ixz="3.78232703207708E-10"
        iyy="0.00138729124200453"
        iyz="-0.000318692891988123"
        izz="0.00134039089412424" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_link5_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_link5_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_manipulator_joint5"
    type="revolute">
    <origin
      xyz="0 0.0597 0.7875"
      rpy="1.5708 0 0" />
    <parent
      link="left_manipulator_link4" />
    <child
      link="left_manipulator_link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.283"
      upper="6.283"
      effort="120"
      velocity="3.141" />
  </joint>
  <link
    name="left_manipulator_link6">
    <inertial>
      <origin
        xyz="-0.000335497970648024 2.37285793401321E-05 0.0301949633975802"
        rpy="0 0 0" />
      <mass
        value="0.424231397911477" />
      <inertia
        ixx="0.000302897453638027"
        ixy="1.3349841815912E-08"
        ixz="2.23237462650332E-08"
        iyy="0.000299224095311333"
        iyz="-1.66932638524379E-07"
        izz="0.000490642092942804" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_link6_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_link6_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_manipulator_joint6"
    type="revolute">
    <origin
      xyz="0 0.0695 0.0597"
      rpy="-1.5708 0 0" />
    <parent
      link="left_manipulator_link5" />
    <child
      link="left_manipulator_link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.283"
      upper="6.283"
      effort="120"
      velocity="3.141" />
  </joint>
  <link
    name="left_manipulator_link_ee">
    <inertial>
      <origin
        xyz="-0.0222271261992198 2.55565244592915E-05 -0.0650731273795286"
        rpy="0 0 0" />
      <mass
        value="0.382964083930774" />
      <inertia
        ixx="0.00031225673839569"
        ixy="3.60293986596278E-06"
        ixz="-8.50695130230842E-05"
        iyy="0.000968462342760267"
        iyz="2.39839809807178E-11"
        izz="0.000890179496030154" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_link_ee_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_manipulator_link_ee_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_manipulator_joint_ee"
    type="fixed">
    <origin
      xyz="0 0 0.0543"
      rpy="-3.1416 0 0" />
    <parent
      link="left_manipulator_link6" />
    <child
      link="left_manipulator_link_ee" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_D435_link">
    <inertial>
      <origin
        xyz="-0.000562968804608821 3.29816876354361E-05 -0.0126645432739445"
        rpy="0 0 0" />
      <mass
        value="0.0817262722842057" />
      <inertia
        ixx="1.38764579712435E-05"
        ixy="-2.93259234112558E-09"
        ixz="-4.955302906488E-07"
        iyy="6.45709913173041E-05"
        iyz="9.95539277941689E-10"
        izz="6.50520814074491E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_D435_link_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/left_D435_link_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_D435_joint"
    type="fixed">
    <origin
      xyz="0.12546 0 -0.052085"
      rpy="2.8798 0 -1.5708" />
    <parent
      link="left_manipulator_link_ee" />
    <child
      link="left_D435_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="left_manipulator_ee_point" />
  <joint
    name="left_ee_point_joint"
    type="fixed">
    <origin
      xyz="-0.14531 0.0 -0.2122"
      rpy="0 3.1416 0" />
    <parent
      link="left_manipulator_link_ee" />
    <child
      link="left_manipulator_ee_point" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_manipulator_base_link">
    <inertial>
      <origin
        xyz="2.47382304695565E-05 0.00352448222734059 0.0520878179475872"
        rpy="0 0 0" />
      <mass
        value="2.94161250669878" />
      <inertia
        ixx="0.0106200517003406"
        ixy="-1.89261730177182E-05"
        ixz="3.06865809997853E-06"
        iyy="0.00992340232605907"
        iyz="0.000162263314539519"
        izz="0.0150373114291498" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_base_link_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_base_link_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_manipulator_base_joint"
    type="fixed">
    <origin
      xyz="0.24999999999997 0 1.00019999999931"
      rpy="0 0 0" />
    <parent
      link="robot_base_link" />
    <child
      link="right_manipulator_base_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_manipulator_link1">
    <inertial>
      <origin
        xyz="-7.82410358257657E-06 -0.0181689701674135 0.148600810866439"
        rpy="0 0 0" />
      <mass
        value="2.57873101367082" />
      <inertia
        ixx="0.00835867407580836"
        ixy="2.29931665414118E-06"
        ixz="2.12674399096342E-06"
        iyy="0.008509040841585"
        iyz="-0.00228223234711189"
        izz="0.00869869730483736" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_link1_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_link1_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_manipulator_joint1"
    type="revolute">
    <origin
      xyz="0 0 0.1073"
      rpy="0 0 0" />
    <parent
      link="right_manipulator_base_link" />
    <child
      link="right_manipulator_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.283"
      upper="6.283"
      effort="400"
      velocity="2.094" />
  </joint>
  <link
    name="right_manipulator_link2">
    <inertial>
      <origin
        xyz="-1.28265535670469E-06 0.464813426482565 0.133590251397412"
        rpy="0 0 0" />
      <mass
        value="18.6675270345251" />
      <inertia
        ixx="0.486061951018069"
        ixy="2.31528060607426E-06"
        ixz="2.13849798201568E-06"
        iyy="0.0563638160963733"
        iyz="1.47266635714399E-05"
        izz="0.486761950369755" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_link2_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_link2_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_manipulator_joint2"
    type="revolute">
    <origin
      xyz="0 0.12 0.134"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="right_manipulator_link1" />
    <child
      link="right_manipulator_link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-6.283"
      upper="6.283"
      effort="400"
      velocity="2.094" />
  </joint>
  <link
    name="right_manipulator_link3">
    <inertial>
      <origin
        xyz="1.07336974475292E-06 0.0128746592487388 -0.0787137943297136"
        rpy="0 0 0" />
      <mass
        value="3.51858424049439" />
      <inertia
        ixx="0.00986845983392826"
        ixy="1.19155758443985E-08"
        ixz="1.6109254044209E-08"
        iyy="0.0102207475740869"
        iyz="0.00229695824724019"
        izz="0.0101224880660249" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_link3_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_link3_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_manipulator_joint3"
    type="revolute">
    <origin
      xyz="0 0.885 0.0365"
      rpy="0 0 0" />
    <parent
      link="right_manipulator_link2" />
    <child
      link="right_manipulator_link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.618"
      upper="2.618"
      effort="300"
      velocity="2.094" />
  </joint>
  <link
    name="right_manipulator_link4">
    <inertial>
      <origin
        xyz="-4.74726867294439E-06 0.0698856284352851 0.347470930284585"
        rpy="0 0 0" />
      <mass
        value="10.1069948634129" />
      <inertia
        ixx="0.385425251786698"
        ixy="1.8092733254185E-07"
        ixz="1.0845260482231E-06"
        iyy="0.358903035401587"
        iyz="-0.0890480084339319"
        izz="0.0471925532618561" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_link4_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_link4_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_manipulator_joint4"
    type="revolute">
    <origin
      xyz="0 0.0975 -0.09"
      rpy="1.5708 0 3.1416" />
    <parent
      link="right_manipulator_link3" />
    <child
      link="right_manipulator_link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.283"
      upper="6.283"
      effort="120"
      velocity="3.141" />
  </joint>
  <link
    name="right_manipulator_link5">
    <inertial>
      <origin
        xyz="3.33949426423175E-06 0.00696629146758543 0.0549279144768857"
        rpy="0 0 0" />
      <mass
        value="1.13314280284386" />
      <inertia
        ixx="0.00132707637025073"
        ixy="3.10730263751509E-08"
        ixz="3.78995815686463E-10"
        iyy="0.00138729124229195"
        iyz="-0.000318692892096857"
        izz="0.00134039089547324" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_link5_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_link5_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_manipulator_joint5"
    type="revolute">
    <origin
      xyz="0 0.0597 0.7875"
      rpy="1.5708 0 0" />
    <parent
      link="right_manipulator_link4" />
    <child
      link="right_manipulator_link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.283"
      upper="6.283"
      effort="120"
      velocity="3.141" />
  </joint>
  <link
    name="right_manipulator_link6">
    <inertial>
      <origin
        xyz="2.37285793569519E-05 0.000335497971714449 0.0301949633974274"
        rpy="0 0 0" />
      <mass
        value="0.424231397901505" />
      <inertia
        ixx="0.000299224095311277"
        ixy="-1.33498419454083E-08"
        ixz="-1.66932638891931E-07"
        iyy="0.000302897453637012"
        iyz="-2.23237462635028E-08"
        izz="0.00049064209294195" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_link6_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_link6_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_manipulator_joint6"
    type="revolute">
    <origin
      xyz="0 0.0695 0.0597"
      rpy="-1.5708 -1.0472 0" />
    <parent
      link="right_manipulator_link5" />
    <child
      link="right_manipulator_link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.283"
      upper="6.283"
      effort="120"
      velocity="3.141" />
  </joint>
  <link
    name="right_manipulator_link_ee">
    <inertial>
      <origin
        xyz="0.0779465134589721 0.0342647649247861 -0.0515562382590877"
        rpy="0 0 0" />
      <mass
        value="0.927284628443802" />
      <inertia
        ixx="0.00208949077754504"
        ixy="-0.000552198870604648"
        ixz="0.000132815084604035"
        iyy="0.00220758179647275"
        iyz="0.000128581805453679"
        izz="0.00166524077454219" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_link_ee_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_manipulator_link_ee_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_manipulator_joint_ee"
    type="fixed">
    <origin
      xyz="0 0 0.0575"
      rpy="3.1416 0 0" />
    <parent
      link="right_manipulator_link6" />
    <child
      link="right_manipulator_link_ee" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_D435_link">
    <inertial>
      <origin
        xyz="-0.19098582613116 0.914635226470393 -2.26231173473089"
        rpy="0 0 0" />
      <mass
        value="236.684811201339" />
      <inertia
        ixx="276.652104765068"
        ixy="-25.5417503492382"
        ixz="-22.7469206053575"
        iyy="318.960281487979"
        iyz="39.5272203132473"
        izz="156.242899020725" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_D435_link_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/right_D435_link_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_D435_joint"
    type="fixed">
    <origin
      xyz="-0.11134 -0.057825 -0.052085"
      rpy="2.8798 0 2.0498" />
    <parent
      link="right_manipulator_link_ee" />
    <child
      link="right_D435_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="right_manipulator_ee_point" />
  <joint
    name="right_ee_point_joint"
    type="fixed">
    <origin
      xyz="0.12895 0.06698 -0.33206 "
      rpy="0 3.1416 0" />
    <parent
      link="right_manipulator_link_ee" />
    <child
      link="right_manipulator_ee_point" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="robot_head_base_link">
    <inertial>
      <origin
        xyz="-6.72003924034881E-06 -2.65996358386478E-05 0.0198600291933282"
        rpy="0 0 0" />
      <mass
        value="0.229518391569927" />
      <inertia
        ixx="0.000282665156032664"
        ixy="-2.43292398388385E-07"
        ixz="-3.03275959167182E-08"
        iyy="0.000282486900930974"
        iyz="-1.1738632519686E-08"
        izz="0.000387961270929751" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/robot_head_base_link_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/robot_head_base_link_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="robot_head_base_joint"
    type="fixed">
    <origin
      xyz="0 -0.055 1.4055"
      rpy="-3.1416 0 0" />
    <parent
      link="robot_base_link" />
    <child
      link="robot_head_base_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="robot_head_rev_link1">
    <inertial>
      <origin
        xyz="0.0143391595073612 -0.0055354989579369 0.0508427901428836"
        rpy="0 0 0" />
      <mass
        value="0.245342833112834" />
      <inertia
        ixx="0.000228752281554918"
        ixy="-5.76271794701628E-06"
        ixz="7.03790080400795E-06"
        iyy="0.000229507849545192"
        iyz="2.19107010308998E-06"
        izz="0.00022842564589815" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/robot_head_rev_link1_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/robot_head_rev_link1_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="robot_head_rev_joint1"
    type="revolute">
    <origin
      xyz="0 0 -0.015"
      rpy="3.1416 0 0" />
    <parent
      link="robot_head_base_link" />
    <child
      link="robot_head_rev_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="300"
      velocity="10" />
  </joint>
  <link
    name="robot_head_rev_link2">
    <inertial>
      <origin
        xyz="1.17217223976895E-05 0.0123398396556855 0.00544060276319358"
        rpy="0 0 0" />
      <mass
        value="0.0581188623839168" />
      <inertia
        ixx="2.38229031555522E-05"
        ixy="-2.06778815573959E-08"
        ixz="1.18398021737583E-09"
        iyy="1.68439895642845E-05"
        iyz="2.21959580043037E-07"
        izz="3.9253649892435E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/robot_head_rev_link2_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/robot_head_rev_link2_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="robot_head_rev_joint2"
    type="revolute">
    <origin
      xyz="0.051 -0.0075 0.067"
      rpy="1.5708 0 1.5708" />
    <parent
      link="robot_head_rev_link1" />
    <child
      link="robot_head_rev_link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="300"
      velocity="10" />
  </joint>
  <link
    name="helios_link">
    <inertial>
      <origin
        xyz="0.00039494527353201 0.00185577717424401 -0.0547254206253032"
        rpy="0 0 0" />
      <mass
        value="0.654565936249776" />
      <inertia
        ixx="0.000927188009536675"
        ixy="2.08595000282248E-09"
        ixz="2.84196141570598E-07"
        iyy="0.00111603807469944"
        iyz="1.02844320529336E-05"
        izz="0.00101560110142056" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/helios_link_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/helios_link_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="helios_joint"
    type="fixed">
    <origin
      xyz="-0.0563 0.084 -0.055"
      rpy="3.1416 1.5708 0" />
    <parent
      link="robot_head_rev_link2" />
    <child
      link="helios_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="zed_bracket_link">
    <inertial>
      <origin
        xyz="1.16018306073329E-14 1.72270700883603E-05 -0.00122888692706247"
        rpy="0 0 0" />
      <mass
        value="0.0136565534073743" />
      <inertia
        ixx="6.44438439541592E-07"
        ixy="1.3351925501957E-14"
        ixz="6.72035807011517E-20"
        iyy="2.02306294623712E-05"
        iyz="9.75987103570769E-11"
        izz="2.0510402115516E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/zed_bracket_link_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/zed_bracket_link_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="zed_bracket_joint"
    type="fixed">
    <origin
      xyz="0 -0.039 -0.0168"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="helios_link" />
    <child
      link="zed_bracket_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="zed2i_link">
    <inertial>
      <origin
        xyz="5.25818017657054E-05 0.00016829527480211 -0.0306786005943727"
        rpy="0 0 0" />
      <mass
        value="0.441895503677643" />
      <inertia
        ixx="0.000212337644975469"
        ixy="1.38578001039203E-09"
        ixz="-1.09479137301005E-09"
        iyy="0.00136585609554086"
        iyz="9.68597824268884E-08"
        izz="0.00132449044413947" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/zed2i_link_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/zed2i_link_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="zed2i_joint"
    type="fixed">
    <origin
      xyz="0 0.014907 -0.027"
      rpy="1.5708 0 3.1416" />
    <parent
      link="zed_bracket_link" />
    <child
      link="zed2i_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="controlbox_link">
    <inertial>
      <origin
        xyz="0.00181664445834956 -0.0122838021876752 -0.485600423034744"
        rpy="0 0 0" />
      <mass
        value="17.2171984396803" />
      <inertia
        ixx="0.255698808752668"
        ixy="-8.50987740757379E-06"
        ixz="0.000244663048446298"
        iyy="0.704323854081238"
        iyz="5.18158163931577E-06"
        izz="0.547428779029648" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/controlbox_link_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/controlbox_link_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="controlbox_joint"
    type="fixed">
    <origin
      xyz="0 0.51 0.33"
      rpy="-3.1416 0 0" />
    <parent
      link="base_link" />
    <child
      link="controlbox_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="testbed_link">
    <inertial>
      <origin
        xyz="-0.0826069016708251 -1.48562273594166E-10 0.822303228306994"
        rpy="0 0 0" />
      <mass
        value="26.9175425890455" />
      <inertia
        ixx="4.98295079146114"
        ixy="-1.53210210662596E-06"
        ixz="3.67887976242109E-12"
        iyy="5.11990748743831"
        iyz="2.39145132238029E-11"
        izz="0.335285037184983" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/testbed_link_optimized.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://construct_description/meshes_0528/testbed_link_optimized.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="testbed_joint"
    type="fixed">
    <origin
      xyz="0.005744 -1.95 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="testbed_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point1_1" />
  <joint
    name="weld_point_joint1_1"
    type="fixed">
    <origin
      xyz="-0.25 -0.1 1.110"
      rpy="-3.1416 0 1.5708" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point1_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point1_2" />
  <joint
    name="weld_point_joint1_2"
    type="fixed">
    <origin
      xyz="-0.25 0.1 1.110"
      rpy="-3.1416 0 1.5708" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point1_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point1_2_2" />
  <joint
    name="weld_point_joint1_2_2"
    type="fixed">
    <origin
      xyz="-0.25 0.1 1.110"
      rpy="1.5708 1.5708 0" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point1_2_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point1_3" />
  <joint
    name="weld_point_joint1_3"
    type="fixed">
    <origin
      xyz="-0.25 0.1 1.097"
      rpy="1.5708 1.5708 0" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point1_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point1_4" />
  <joint
    name="weld_point_joint1_4"
    type="fixed">
    <origin
      xyz="-0.25 0.02 1.097"
      rpy="0 0 -1.5708" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point1_4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point1_5" />
  <joint
    name="weld_point_joint1_5"
    type="fixed">
    <origin
      xyz="-0.25 0.004 1.081"
      rpy="1.5708 1.5708 0" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point1_5" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point1_6" />
  <joint
    name="weld_point_joint1_6"
    type="fixed">
    <origin
      xyz="-0.25 0.004 0.739"
      rpy="1.5708 1.5708 0" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point1_6" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point1_7" />
  <joint
    name="weld_point_joint1_7"
    type="fixed">
    <origin
      xyz="-0.25 0.02 0.723"
      rpy="-3.1416 0 1.5708" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point1_7" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point1_8_1" />
  <joint
    name="weld_point_joint1_8_1"
    type="fixed">
    <origin
      xyz="-0.25 0.1 0.723"
      rpy="-3.1416 0 1.5708" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point1_8_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point1_8_2" />
  <joint
    name="weld_point_joint1_8_2"
    type="fixed">
    <origin
      xyz="-0.25 0.1 0.723"
      rpy="1.5708 1.5708 0" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point1_8_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point1_9_1" />
  <joint
    name="weld_point_joint1_9_1"
    type="fixed">
    <origin
      xyz="-0.25 0.1 0.710"
      rpy="1.5708 1.5708 0" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point1_9_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point1_9_2" />
  <joint
    name="weld_point_joint1_9_2"
    type="fixed">
    <origin
      xyz="-0.25 0.1 0.710"
      rpy="0 0 -1.5708" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point1_9_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point1_10" />
  <joint
    name="weld_point_joint1_10"
    type="fixed">
    <origin
      xyz="-0.25 -0.1 0.710"
      rpy="0 0 -1.5708" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point1_10" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point2_1" />
  <joint
    name="weld_point_joint2_1"
    type="fixed">
    <origin
      xyz="0.25 -0.1 1.110"
      rpy="-3.1416 0 1.5708" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point2_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point2_2" />
  <joint
    name="weld_point_joint2_2"
    type="fixed">
    <origin
      xyz="0.25 0.1 1.110"
      rpy="-3.1416 0 1.5708" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point2_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point2_3" />
  <joint
    name="weld_point_joint2_3"
    type="fixed">
    <origin
      xyz="0.25 0.1 1.097"
      rpy="1.5708 1.5708 0" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point2_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point2_4" />
  <joint
    name="weld_point_joint2_4"
    type="fixed">
    <origin
      xyz="0.25 0.02 1.097"
      rpy="0 0 -1.5708" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point2_4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point2_5" />
  <joint
    name="weld_point_joint2_5"
    type="fixed">
    <origin
      xyz="0.25 0.004 1.081"
      rpy="1.5708 1.5708 0" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point2_5" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point2_6" />
  <joint
    name="weld_point_joint2_6"
    type="fixed">
    <origin
      xyz="0.25 0.004 0.739"
      rpy="1.5708 1.5708 0" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point2_6" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point2_7" />
  <joint
    name="weld_point_joint2_7"
    type="fixed">
    <origin
      xyz="0.25 0.02 0.723"
      rpy="-3.1416 0 1.5708" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point2_7" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point2_8_1" />
  <joint
    name="weld_point_joint2_8_1"
    type="fixed">
    <origin
      xyz="0.25 0.1 0.723"
      rpy="-3.1416 0 1.5708" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point2_8_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point2_8_2" />
  <joint
    name="weld_point_joint2_8_2"
    type="fixed">
    <origin
      xyz="0.25 0.1 0.723"
      rpy="1.5708 1.5708 0" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point2_8_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point2_9_1" />
  <joint
    name="weld_point_joint2_9_1"
    type="fixed">
    <origin
      xyz="0.25 0.1 0.710"
      rpy="1.5708 1.5708 0" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point2_9_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point2_9_2" />
  <joint
    name="weld_point_joint2_9_2"
    type="fixed">
    <origin
      xyz="0.25 0.1 0.710"
      rpy="0 0 -1.5708" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point2_9_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="weld_point2_10" />
  <joint
    name="weld_point_joint2_10"
    type="fixed">
    <origin
      xyz="0.25 -0.1 0.710"
      rpy="0 0 -1.5708" />
    <parent
      link="testbed_link" />
    <child
      link="weld_point2_10" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>